# Simple Codes,Comments,Variables and Operators

In [81]:
#printing simple programs
print("Hello World")
print(2+2)
print(True)

Hello World
4
True

In [82]:
print("This is Sam's book.")
print('This is Sam\'s book')#see the difference if we use single quotation marks to print strings

This is Sam's book.
This is Sam's book

In [83]:
print(1)
print(1+3)
print("1"+"3")
x = 1
y = '1'
z = "1"
print(type(x))
print(type(y))
print(type(z))

1
4
13
<class 'int'>
<class 'str'>
<class 'str'>

In [84]:
x,y,z = 1,2.8,3.99 #multiple variables assignmet in a single line
print(x)
print(y)
print(type(z))

1
2.8
<class 'float'>

In [85]:
x = y = z = 100 #assigning same value to multiple variables in a single statement
print(x,y,z)

100 100 100

In [86]:
import math#It will be study in module chapter
math.floor(2.999999999999999)#when we write more than 15 digits after decimal it will return ceil value 
math.ceil(2.0000000000000001)#when we write more than 15 "0" digits and then only one "1" digit after decimal it will return floor value

2

In [87]:
#Arithmetic operator
#+,-,*,/,%(modulus or remainder operator),//(floor division operator,You get the answer to the nearest whole number.),**(Exponential operator)
a = 10
b = a**3 #b = a*a*a
b

1000

In [88]:
#Assignment operator
#'=',x+=y(short for x=x+y),**=,-=,etc
x = 10
y = 20
x+=y
x#Here, value of x becomes 30
x = x+y
x

50

In [89]:
#Comparison or Relational operators
#>(strictly greater than),<(strictly less than),==,!=,>=,<=
#Result of comparison operator is always a Boolean value i.e. True or False
x = 10
y = 40
x<y

True

In [103]:
#Logical operator
#AND,OR,not
# Note:Logical AND operator evaluates operands from left to right, 
#     returning immediately with the value of the first falsy operand
#     it encounters; if all values are truthy, the value of the last operand is returned. 
#     If a value can be converted to true , the value is so-called truthy.
5>2 and 3>1
3>2 or 1<0
not(2>5 and 5<4)
2>1 or 5<3 or 2<1
2>1 and 4>2 and 7<4
print(1 and 2)
print(1 and 0)
print(0 and 1)
print(0 and 0)
print(1 or 2)
print(1 or 0)
print(0 or 1)
print(0 or 0)

False

In [91]:
#Bitwise operator
#Bitwise OR(|),AND(&),XOR(^),NOT(~),zero fill left shift(<<),signed right shift(>>)
print(3|5)
print(3&5)
print(3^5)
print(~3)
print(bin(15))
print(3<<2)#Here, 3 is left shifted by 2 bits
print(5>>1)#Here, 5 is right shifted by 1 bits

7
1
6
-4
0b1111
12
2

In [92]:
##Precedence of operators
# parenthesis : ()
# Exponential : **
# Division,Multiplication,Modulus,Floor division : /,*,%,//
# Addition,Subtraction : +,-
# Bitwise AND : &
# Bitwise XOR : ^
# Bitwise OR  : |
# Relational operator : >,>=,<,<=,==,!=
# Logical NOT : not
# Logical AND : and
# Logical OR  : or
print(1+3&5)

4

In [93]:
#operator associativity
# Sometimes in an expression, you may see the operators with the same
# precedence. Most of the operators except exponential operator ( ** )
# evaluates from left to right. In this context, you can remember that you used
# assignment operators for variables, such as x=5 . This evaluates from right to
# left.
print(5*8%3)
print(10*2//3)
print(10*(2//3))
x=10
y=20
z=30
print((x<y) & (y>z))
print((x<y) | (y>z))

1
6
0
False
True

In [94]:
#Identity operators
# is,is not

In [95]:
#Membership operators
# in, not in

In [96]:
#ex9 Book page65
print("         *           ")
print("    *          *     ")
print("  *              *   ")
print("*-------------------*")

         *
    *          *
  *              *
*-------------------*

In [97]:
#case study1
print("---------------------------------------------------------------")
print("Spencer Retail")
print("136, Garia Station Road,")
print("Kolkata:700084")
print("---------------------------------------------------------------")
print("Product(s)   Price (per pack)")
print("Apricot      300")
print("Dates        400")
print("Almond       500")
print("Combo-1      630.0")
print("Combo-2      810.0")
print("Combo-3      720.0")
print("GiftBox      900.0")
print("***************************************************************")
print("For free delivery, contact 123-456-789")
print("***************************************************************")

---------------------------------------------------------------
Spencer Retail
136, Garia Station Road,
Kolkata:700084
---------------------------------------------------------------
Product(s)   Price (per pack)
Apricot      300
Dates        400
Almond       500
Combo-1      630.0
Combo-2      810.0
Combo-3      720.0
GiftBox      900.0
***************************************************************
For free delivery, contact 123-456-789
***************************************************************

# Common DataTypes

In [98]:
print("Hello\aWorld")#\a, for beep sound but not working
print("Hello\bHai")#\b, for backspace

HelloWorld
HelloHai

In [99]:
print('\'Hello\'')
print("\"Hello\"")#inserts characters after backslash
print('"Hello"')#double quotation inside single quotation
print("'Hello'")#single quotation inside double quotation

'Hello'
"Hello"
"Hello"
'Hello'

In [100]:
name = "Aavash."
Intro = 'Hello,I am '
print(Intro+name)

Hello,I am Aavash.

In [101]:
name = "john"
name.capitalize()

'John'

In [102]:
name = "Hello World, I am Aavash KC"
print(name.upper().islower())
print(name.upper().isupper())
print(name[0])
print(name.index("e"))#the first occurance of 'e' character
print(name.index("el"))#the first occurance of "el" character
print(name.replace("Aavash","John"))

False
True
H
1
1
Hello World, I am John KC

In [131]:
x = 2
y = "3"
print(str(x))#converting int value to string
print(int(y,base=10))
name = "Ramesh"
print(f"Hello,{name}!")#use of f-strings or format strings
print("Round off of 2.51 is",round(2.51))#use of round function
print("Round off of 2.5 is",round(2.5))#use of round function
print(max(1,2,3,4))# use of max function

2
3
Hello,Ramesh!
Round off of 2.51 is 3
Round off of 2.5 is 2
4

In [136]:
import math as m
print(f"The square root of 5 is: {m.sqrt(5)}")
print(f"The e^3 is:{m.exp(3)}")

The square root of 5 is: 2.23606797749979
The e^3 is:20.085536923187668

# Exercise Book page no 94

In [137]:
#1
num1 = int(input('Enter a number:'))
num2 = int(input("Enter a number:"))
print((num1+num2)/2)

Enter a number:2
Enter a number:3
2.5

In [141]:
#2
text = "Hello,"
print(text,"\nReader!")
print(f"{text}\nReader!")
print(text+"\nReader!")

Hello,
Reader!
Hello,
Reader!
Hello,
Reader!

In [143]:
#3
print(" The height of Andrew is 6'9'' ")

 The height of Andrew is 6'9''

In [149]:
#4
x,y = 10,2.5
print(x+y)
print(x/y)
print("Difference of x and y is:",x-y)
#print("x*y=:"+x*y)
#print(x+"is stored in x.")

12.5
4.0
Difference of x and y is: 7.5

In [148]:
#6
radius = float(input("Enter the value of radius:"))
print(f"The area of a circle is:{3.14*radius*radius}")

Enter the value of radius:6
The area of a circle is:113.03999999999999

In [1]:
a = -5# -5 to 256 it shows same id of objects but not outside this range
b = -5
print(id(a) == id(b))  
#print(id(b))

x = 1000
y = 1000
print(id(x) == id(y))
a is b
#x is y

True
False

True

{1, 2, 3}

In [5]:
s1 = {2,3,1}
print(s1)

{1, 2, 3}